
{% extends "base.html" %}
{%block header %}
<title>Products page</title>
{% endblock header %}

{% load static%}
{% block main_content %}
<div>
  <a href="{% url 'add_product' %} " class="btn btn-primary mt-5">Add Product</a>
</div>
<div class="section-title">
    <img src="{% static 'products/images/leftarrows.png' %}" class="arrow" alt="left arrow">
    <h2>Our Products</h2>
    <img src="{% static 'products/images/arrows.png' %}" class="arrow" alt="left arrow">
  </div>
 
 
 <div class="d-flex gap-1  flex-wrap justify-content-center" style="padding-bottom: 20px;">
   {% for product in products%}
    <div class="card" id="cards_view" style="width: 20rem;">
      <img src="{{ product.thumbnail }}" class="card-img-top" alt="{{product.title}}">
      <div class="card-body">
        <h5 class="card-title"> {{product.title}} </h5>
        <p class="card-text">{{product.description}}</p>
        <a href=" {% url 'one_product' pk=product.id %}"  class="btn btn-primary">See More </a>
      </div>
    </div>
    {% empty %}
    <h3>{{error_message}}</h3>
       
{% endfor %}
 
 </div>
 
{% endblock main_content  %}